@media (min-width: 1025px) {
  .col-1 {
    flex: 0 0 auto;
    flex-basis: 8.3333333333%;
    width: 8.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
    position: relative;
  }
  .col-2 {
    flex: 0 0 auto;
    flex-basis: 16.6666666667%;
    width: 16.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
    position: relative;
  }
  .col-3 {
    flex: 0 0 auto;
    flex-basis: 25%;
    width: 25%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-3 {
    margin-left: 25%;
    position: relative;
  }
  .col-4 {
    flex: 0 0 auto;
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
    position: relative;
  }
  .col-5 {
    flex: 0 0 auto;
    flex-basis: 41.6666666667%;
    width: 41.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
    position: relative;
  }
  .col-6 {
    flex: 0 0 auto;
    flex-basis: 50%;
    width: 50%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-6 {
    margin-left: 50%;
    position: relative;
  }
  .col-7 {
    flex: 0 0 auto;
    flex-basis: 58.3333333333%;
    width: 58.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
    position: relative;
  }
  .col-8 {
    flex: 0 0 auto;
    flex-basis: 66.6666666667%;
    width: 66.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
    position: relative;
  }
  .col-9 {
    flex: 0 0 auto;
    flex-basis: 75%;
    width: 75%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-9 {
    margin-left: 75%;
    position: relative;
  }
  .col-10 {
    flex: 0 0 auto;
    flex-basis: 83.3333333333%;
    width: 83.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
    position: relative;
  }
  .col-11 {
    flex: 0 0 auto;
    flex-basis: 91.6666666667%;
    width: 91.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
    position: relative;
  }
  .col-12 {
    flex: 0 0 auto;
    flex-basis: 100%;
    width: 100%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-12 {
    margin-left: 100%;
    position: relative;
  }
}
html {
  --window-w:100vw;
  --window-h:100vh;
}

:root {
  --base-ratio: 0.5;
  --base-size: 1920;
  --base-percent: 100vw;
}
@media (max-width: 1024px) {
  :root {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

html,
body {
  overflow-anchor: none;
}
html.overflow,
body.overflow {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}

#wrap {
  position: relative;
  width: 100%;
}
#wrap .content {
  padding: 0 0 max(calc(180px * var(--base-ratio)), calc(calc(180 / var(--base-size)) * var(--base-percent)));
}
@media (max-width: 1024px) {
  #wrap .content {
    padding: 0 0 max(calc(100px * var(--base-ratio)), calc(calc(100 / var(--base-size)) * var(--base-percent)));
  }
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pc_on {
  display: block;
}

.tablet_on {
  display: none;
}

.m_on {
  display: none;
}

.pc_none {
  display: none;
}

.tablet_m_on {
  display: none;
}

.tablet_none {
  display: block;
}

.m_none {
  display: block;
}

.laptop_on {
  display: none;
}

.laptop_none {
  display: block;
}

@media (max-width: 1535px) {
  .laptop_on {
    display: block;
  }
  .laptop_none {
    display: none;
  }
}
@media (max-width: 1024px) {
  .laptop_none {
    display: block;
  }
  .pc_on {
    display: none;
  }
  .tablet_m_on {
    display: block;
  }
  .tablet_on {
    display: block;
  }
  .m_on {
    display: none;
  }
  .pc_none {
    display: block;
  }
  .tablet_none {
    display: none;
  }
  .m_none {
    display: block;
  }
}
@media (max-width: 767px) {
  .laptop_none {
    display: block;
  }
  .pc_on {
    display: none;
  }
  .tablet_on {
    display: none;
  }
  .m_on {
    display: block;
  }
  .pc_none {
    display: block;
  }
  .tablet_none {
    display: block;
  }
  .m_none {
    display: none;
  }
}
.row_wrap {
  padding: 0 max(calc(80px * var(--base-ratio)), calc(calc(80 / var(--base-size)) * var(--base-percent)));
}
@media (max-width: 1024px) {
  .row_wrap {
    padding: 0 max(calc(40px * var(--base-ratio)), calc(calc(40 / var(--base-size)) * var(--base-percent)));
  }
}
@media (max-width: 767px) {
  .row_wrap {
    padding: 0 max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent)));
  }
}

@media (min-width: 1025px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5 * -1);
  }
}
.row {
  position: relative;
}

.grid_guide {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 999999;
  display: none;
}
.grid_guide.is-active {
  display: block;
}
.grid_guide .container {
  width: 100%;
  height: 100%;
}
.grid_guide .row {
  display: flex;
  flex-wrap: wrap;
}
.grid_guide .row .content {
  padding: 0;
  height: 100vh;
  opacity: 0.5;
}
.grid_guide .row .col-1 {
  flex: 0 0 auto;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 1025px) {
  .grid_guide .row {
    margin: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5 * -1);
  }
  .grid_guide .row .content {
    background-color: pink;
  }
  .grid_guide .row .col-1 {
    flex-basis: 8.3333333333%;
    width: 9.0909090909%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
  }
  .grid_guide .row .col-1:nth-of-type(n + 13) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .grid_guide .row {
    margin: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5 * -1);
  }
  .grid_guide .row .content {
    background-color: #7878ff;
  }
  .grid_guide .row .col-1 {
    flex-basis: 12.5%;
    width: 14.2857142857%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
  }
  .grid_guide .row .col-1:nth-of-type(n + 9) {
    display: none;
  }
}
@media (max-width: 767px) {
  .grid_guide .row {
    margin: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5 * -1);
  }
  .grid_guide .row .content {
    background-color: #7878ff;
  }
  .grid_guide .row .col-1 {
    flex-basis: 25%;
    width: 33.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
  }
  .grid_guide .row .col-1:nth-of-type(n + 5) {
    display: none;
  }
}

@media (min-width: 1025px) {
  .col-1 {
    flex: 0 0 auto;
    flex-basis: 8.3333333333%;
    width: 8.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
    position: relative;
  }
  .col-2 {
    flex: 0 0 auto;
    flex-basis: 16.6666666667%;
    width: 16.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
    position: relative;
  }
  .col-3 {
    flex: 0 0 auto;
    flex-basis: 25%;
    width: 25%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-3 {
    margin-left: 25%;
    position: relative;
  }
  .col-4 {
    flex: 0 0 auto;
    flex-basis: 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
    position: relative;
  }
  .col-5 {
    flex: 0 0 auto;
    flex-basis: 41.6666666667%;
    width: 41.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
    position: relative;
  }
  .col-6 {
    flex: 0 0 auto;
    flex-basis: 50%;
    width: 50%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-6 {
    margin-left: 50%;
    position: relative;
  }
  .col-7 {
    flex: 0 0 auto;
    flex-basis: 58.3333333333%;
    width: 58.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
    position: relative;
  }
  .col-8 {
    flex: 0 0 auto;
    flex-basis: 66.6666666667%;
    width: 66.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
    position: relative;
  }
  .col-9 {
    flex: 0 0 auto;
    flex-basis: 75%;
    width: 75%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-9 {
    margin-left: 75%;
    position: relative;
  }
  .col-10 {
    flex: 0 0 auto;
    flex-basis: 83.3333333333%;
    width: 83.3333333333%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
    position: relative;
  }
  .col-11 {
    flex: 0 0 auto;
    flex-basis: 91.6666666667%;
    width: 91.6666666667%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
    position: relative;
  }
  .col-12 {
    flex: 0 0 auto;
    flex-basis: 100%;
    width: 100%;
    padding: 0 calc(max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent))) * 0.5);
    box-sizing: border-box;
    position: relative;
  }
  .offset-12 {
    margin-left: 100%;
    position: relative;
  }
}
:root {
  --swiper-autoplay: 4000;
}

#wrap {
  min-width: 320px;
}
#wrap .scroll_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: max(calc(70px * var(--base-ratio)), calc(calc(70 / var(--base-size)) * var(--base-percent)));
  width: max(calc(30px * var(--base-ratio)), calc(calc(30 / var(--base-size)) * var(--base-percent)));
  padding-top: max(calc(120px * var(--base-ratio)), calc(calc(120 / var(--base-size)) * var(--base-percent)));
}
#wrap .scroll_box .scroll_txt {
  position: relative;
  font-size: max(calc(16px * var(--base-ratio)), calc(calc(16 / var(--base-size)) * var(--base-percent)));
  line-height: 1.25;
  letter-spacing: 0em;
  font-family: "Pretendard", sans-serif;
  color: #ffffff;
}
#wrap .scroll_box .scroll_txt::after {
  content: "";
  position: absolute;
  bottom: max(calc(calc(calc(60 / var(--base-size)) * var(--base-percent)) * -1));
  left: 50%;
  width: max(calc(1px * var(--base-ratio)), calc(calc(1 / var(--base-size)) * var(--base-percent)));
  height: max(calc(50px * var(--base-ratio)), calc(calc(50 / var(--base-size)) * var(--base-percent)));
  background-color: #ffffff;
}
#wrap .scroll_box .scroll_arrow {
  overflow: hidden;
  position: relative;
  width: max(calc(15px * var(--base-ratio)), calc(calc(15 / var(--base-size)) * var(--base-percent)));
  height: max(calc(19px * var(--base-ratio)), calc(calc(19 / var(--base-size)) * var(--base-percent)));
  background: url("../../images/main/scroll_icon.svg") center/cover no-repeat;
  animation: scrollDown 1.8s ease-in-out infinite;
}
@keyframes scrollDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@media (max-width: 1024px) {
  #wrap .scroll_box {
    gap: max(calc(6px * var(--base-ratio)), calc(calc(6 / var(--base-size)) * var(--base-percent)));
    bottom: max(calc(50px * var(--base-ratio)), calc(calc(50 / var(--base-size)) * var(--base-percent)));
  }
  #wrap .scroll_box .scroll_txt {
    font-size: max(calc(11px * var(--base-ratio)), calc(calc(11 / var(--base-size)) * var(--base-percent)));
    line-height: 1.2727272727;
    letter-spacing: 0em;
  }
  #wrap .scroll_box .scroll_arrow {
    width: max(calc(12px * var(--base-ratio)), calc(calc(12 / var(--base-size)) * var(--base-percent)));
    height: max(calc(15px * var(--base-ratio)), calc(calc(15 / var(--base-size)) * var(--base-percent)));
    background: url("../../images/main/scroll_icon_m.svg") center/cover no-repeat;
  }
}
#wrap .swiper-scrollbar {
  padding: max(calc(10px * var(--base-ratio)), calc(calc(10 / var(--base-size)) * var(--base-percent))) 0;
  width: 100%;
  position: relative;
  inset: auto;
  cursor: pointer;
  background-color: transparent;
}
#wrap .swiper-scrollbar:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #F3F4F6;
  border-radius: max(calc(4px * var(--base-ratio)), calc(calc(4 / var(--base-size)) * var(--base-percent)));
  height: max(calc(2px * var(--base-ratio)), calc(calc(2 / var(--base-size)) * var(--base-percent)));
}
#wrap .swiper-scrollbar .swiper-scrollbar-drag {
  background: #223D6D;
  border-radius: max(calc(4px * var(--base-ratio)), calc(calc(4 / var(--base-size)) * var(--base-percent)));
  height: max(calc(2px * var(--base-ratio)), calc(calc(2 / var(--base-size)) * var(--base-percent)));
  margin-top: 0;
  position: absolute;
  top: calc(50% - max(calc(1px * var(--base-ratio)), calc(calc(1 / var(--base-size)) * var(--base-percent))));
}
@media (min-width: 1025px) and (pointer: fine) {
  #wrap .swiper-scrollbar:hover .swiper-scrollbar-drag {
    height: max(calc(6px * var(--base-ratio)), calc(calc(6 / var(--base-size)) * var(--base-percent)));
    margin-top: max(calc(calc(calc(3 / var(--base-size)) * var(--base-percent)) * -1));
    top: 50%;
  }
}
#wrap .swiper-paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: max(calc(40px * var(--base-ratio)), calc(calc(40 / var(--base-size)) * var(--base-percent)));
  gap: max(calc(20px * var(--base-ratio)), calc(calc(20 / var(--base-size)) * var(--base-percent)));
}
#wrap .swiper-paging .arrow {
  width: max(calc(32px * var(--base-ratio)), calc(calc(32 / var(--base-size)) * var(--base-percent)));
  height: max(calc(32px * var(--base-ratio)), calc(calc(32 / var(--base-size)) * var(--base-percent)));
  cursor: pointer;
  transition: 0.35s;
}
#wrap .swiper-paging .prev_btn {
  background: url("/images/common/swiper_prev_btn.png") center no-repeat;
  background-size: 100%;
}
#wrap .swiper-paging .next_btn {
  background: url("/images/common/swiper_next_btn.png") center no-repeat;
  background-size: 100%;
}
#wrap .swiper-paging .swiper-pagination {
  position: relative;
  inset: auto;
  transform: none;
  font-size: 0;
}
#wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: max(calc(8px * var(--base-ratio)), calc(calc(8 / var(--base-size)) * var(--base-percent)));
  height: max(calc(32px * var(--base-ratio)), calc(calc(32 / var(--base-size)) * var(--base-percent)));
  background: transparent;
  margin: 0 max(calc(4px * var(--base-ratio)), calc(calc(4 / var(--base-size)) * var(--base-percent)));
  opacity: 1;
  transition: 0.3s;
}
#wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet:after {
  content: "";
  width: 100%;
  height: max(calc(8px * var(--base-ratio)), calc(calc(8 / var(--base-size)) * var(--base-percent)));
  background: #046A38;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
}
#wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet:before {
  content: "";
  width: 0;
  height: max(calc(8px * var(--base-ratio)), calc(calc(8 / var(--base-size)) * var(--base-percent)));
  background: #046A38;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30px;
  z-index: 1;
}
#wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet-active {
  width: max(calc(60px * var(--base-ratio)), calc(calc(60 / var(--base-size)) * var(--base-percent)));
}
#wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet-active:before {
  width: 100%;
  animation: widthProgress calc(var(--swiper-autoplay) * 1ms);
}
@keyframes widthProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #wrap .swiper-paging {
    margin-top: max(calc(24px * var(--base-ratio)), calc(calc(24 / var(--base-size)) * var(--base-percent)));
    gap: max(calc(24px * var(--base-ratio)), calc(calc(24 / var(--base-size)) * var(--base-percent)));
  }
  #wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet {
    width: max(calc(6px * var(--base-ratio)), calc(calc(6 / var(--base-size)) * var(--base-percent)));
    margin: 0 max(calc(3px * var(--base-ratio)), calc(calc(3 / var(--base-size)) * var(--base-percent)));
  }
  #wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet:after {
    height: max(calc(6px * var(--base-ratio)), calc(calc(6 / var(--base-size)) * var(--base-percent)));
  }
  #wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet:before {
    height: max(calc(6px * var(--base-ratio)), calc(calc(6 / var(--base-size)) * var(--base-percent)));
  }
  #wrap .swiper-paging .swiper-pagination .swiper-pagination-bullet-active {
    width: max(calc(30px * var(--base-ratio)), calc(calc(30 / var(--base-size)) * var(--base-percent)));
  }
}
@media (max-width: 767px) {
  #wrap .swiper-paging {
    margin-top: max(calc(16px * var(--base-ratio)), calc(calc(16 / var(--base-size)) * var(--base-percent)));
    gap: max(calc(16px * var(--base-ratio)), calc(calc(16 / var(--base-size)) * var(--base-percent)));
  }
}/*# sourceMappingURL=style.css.map */