@charset "UTF-8";
@import "../../base/variable";
@import "../../base/mixin";



#wrap {
    &.travel {
        .gnb_wrap{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:to_vw(110);
            z-index:2;
        }
        .gnb_list {
            z-index: 2;
            display: flex;
            overflow: hidden;
            position: fixed;
            left: 50%;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            transform: translate(-50%, to_vw(20));
            animation-duration: cubic-bezier(0.25, 0.8, 0.25, 1);
    
            &.gnbShow {
                animation: gnbAni 0.8s both;
    
                @keyframes gnbAni {
                    0% {
                        opacity: 1;
                        width: to_vw(40);
                        height: to_vw(40);
                        border-radius: 50%;
                    }
                    25% {
                        width: to_vw(80);
                        height: to_vw(80);
                    }
                    50% {
                        width: to_vw(60);
                        height: to_vw(60);
                        border-radius: 50%;
                    }
                    70% {
                        border-radius: to_vw(25);
                    }
                    100% {
                        opacity: 1;
                        width: 80%;
                        height: to_vw(60);
                        border-radius: to_vw(50);
                    }
                }
            }
            li {
                transform: translateY(80%);
                opacity: 0;
                width: 20%;
                padding: to_vw(18);
                text-align: center;
                cursor: pointer;
    
                &:hover {
                    opacity: 1;
                    span {
                        color: $white;
                    }
                }
                span {
                    position: relative;
                    @include fontSize(18, -20, 24);
                }
                &.active {
                    span {
                        color: $white;
    
                        &::before {
                            content: '';
                            position: absolute;
                            height: to_vw(2);
                            width: 100%;
                            bottom: to_vw(-18);
                            background: $white;
                        }
                    }
                }
            }
            &.active {
                transform: translate(-50%, 0);
                width: 100%;
                border-radius: 0;
            }
        }
        .etc_wrap{
            position:absolute;
            right:to_vw(80);
            top:50%;
            transform:translateY(-50%);
            z-index:3;
            display:flex;
            align-items:center;
            gap:to_vw(24);
    
            .mobile_menu_btn{
                display:none;
            }
        }
        @include media(false, tablet){
            height:to_vw(80);
    
            .gnb_wrap{
                position:fixed;
                left:auto;
                right:0;
                top:0;
                width:100%;
                height:100vh;
                height:100dvh;
                background:#414141;
                padding:to_vw(90) to_vw(40) to_vw(40);
                // transition:transform 0.6s;
                clip-path:inset(0 0 100% 0);
                transition:transform 0.5s, clip-path 0.5s ease-in-out;
    
                &.active{
                    clip-path:inset(0 0 0% 0);
                }
            }
            .gnb_list {
                overflow: visible;
                flex-direction: column;
                left: 0;
                background-color: transparent;
                transform: translate(0, -50%);
    
                li {
                    width: 100%;
                    padding: to_vw(18) to_vw(40);
                    text-align: left;
    
                    &.active {
                        span {
                            &::before {
                                bottom: to_vw(-10);
                            }
                        }
                    }
                }
            }
            .etc_wrap{
                right:to_vw(40);
                gap:to_vw(16);
    
                .mobile_menu_btn{
                    display:block;
                    width:to_vw(32);
                    height:to_vw(32);
                    position:relative;
                    font-size:0;
                    text-indent:-9999px;
                    i{
                        width:to_vw(23);
                        height:to_vw(2);
                        position:absolute;
                        background:#fff;
                        border-radius:99px;
                        transform-origin:left top;
                        transition:0.3s;
                        left:50%;
    
                        &:nth-of-type(1){
                            top:to_vw(5);
                            transform:translateX(-50%);
                        }
                        &:nth-of-type(2){
                            transform:translate(-50%,-50%);
                        }
                        &:nth-of-type(3){
                            bottom:to_vw(5);
                            transform:translateX(-50%);
                        }
                    }
                    &.active{
                        i{
                            &:nth-of-type(1){
                                transform:rotate(45deg);
                                left:24%;
                                top:to_vw(6);
                                width:to_vw(26);
                            }
                            &:nth-of-type(2){
                                width:0;
                            }
                            &:nth-of-type(3){
                                transform:rotate(-45deg);
                                left:21%;
                                width:to_vw(26);
                            }
                        }
                    }
                }
            }
        }
        @include media(false, mobile){
            .gnb_wrap{
                padding:to_vw(112) to_vw(20) to_vw(20);
    
                .banner{
                    @include background("common/header_banner_mobile.png", center, no-repeat, cover);
                }
            }
            .etc_wrap{
                right:to_vw(20);
            }
        }
        .sec {
            &01 {
                overflow: hidden;
                position: relative;
                width: 100%;
                padding: to_vw(200) 0 to_vw(240);

                .bg_box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url('../../../images/travel/sec01_pc_bg.jpg') no-repeat 0 0 / cover;
                    transform: scale(1.05);
                    transition-property: transform;
                    transition-timing-function: ease-out;
                    transition-duration: 1s;

                    &.active {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
